*{
  box-sizing: border-box;
}
body{
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

#app{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #a3a3a3;
  min-width: 370px;
  min-height: 65vh;
  max-height: 80vh;
  border: 5px solid rgb(78, 38, 86);
  border-radius: 0.3rem;
}

form, #searchEntryForm{
  padding: 0.5rem;
  display: flex;
}

form input, #searchEntryForm input{
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

form button{
  border: 3px dashed orangered;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 0.5rem;
  background-color: green;
  color: #fff;
}

.clear-lst{
  background-color: #eee;
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.3rem;
  font-weight: bold;
  font-size: 1.5rem;
}

hr{
  width: 100%;
  border-color: #000;
} 

.clear-lst button{
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  border: none;
  background-color: #b10404;
  color: #fff;
  font-weight: 700;
}

/* ----------------List Items----------------------- */
ul{
  flex-grow: 1;
  overflow-y: auto;
}

ul li{
  display: flex;
  align-items: center;
  padding: 0.7rem;
  margin: 0.3rem 0.5rem;
  background: #eee;
  border-radius: 0.3rem;
  transition: 0.5s;
}

ul li:hover{
  scale: 1.05;
  background-color: rgb(240, 179, 136);
}

ul li input{
  scale: 2;
  margin-right: 1rem;
  &:checked + label{
    text-decoration: line-through;
  }
}

ul li .buttons-div{
  margin-left: auto;
}

ul li button{
  padding: 0.3rem;
  font-weight: bold;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.3rem;
  margin-left: 0.3rem;
}
.delete-button{
  color: #f00;
  &:hover{
    background-color: #f00;
    color: #fff;
    transition: 0.5s;
  }
}
.update-button{
  color: #00f;
  &:hover{
    background-color: #00f;
    color: #fff;
    transition: 0.5s;
  }
}
.important-button{
  &.important{
    color: orange;
    &:hover{
      background-color: #ff0;
      color: #f00;
    }
  }
  color: green;
  &:hover{
    background-color: orangered;
    color: #fff;
    transition: 0.5s;
  }
}
/* ----------------------overlay----------------------- */
.overlay{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay .message{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 0.8rem;
  width: 300px;
  background-color: rgb(251, 246, 240);
  border-radius: 0.5rem;
}
.overlay input{
  border-radius: 0.3rem;
  padding: 0.3rem;
  width: 100%;
}
.overlay .message button{
  border-radius: 0.2rem;
  border: none;
  background-color: aquamarine;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
}